body{
    background-color: rgb(202 210 197);
}
.box-part{
    height: 450px;
    width: 280px;
    background-color:rgb(53 53 53);
    border-radius: 20px;
    margin: 30px;
}
.fa{
    margin-left: 25px;
    margin-top: 10px;
    color: white;
}
.box-part-col2-c1{
    background-color: rgb(53 53 53);
    height: 50px;
    width: 500px;
    border-radius: 20px;
    margin: 30px 90px;
}
.box-part-col2-c2{
    height: 140px;
    width: 170px;
    background-color: rgb(53 53 53);
    border-radius: 20px;
    margin: 20px 30px;
}
.box-part-col2-c3{
    height: 150px;
    width:630px;
    background-color: rgb(53 53 53);
    border-radius: 20px;
    margin: 30px 15px;
}
